<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="column one">
            <div class="row">
                <p>xin chào 123</p>
            </div>
        </div>
        <div class="column mg"></div>
        <div class="column two">
            <div class="row">
                <p> xinchaof 456</p>
            </div>
        </div>
        <div class="column mg"></div>
        <div calss="column three">
            <div class="row"></div>
        </div>
    </div>
</body>
</html>