<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{{ url_for('add') }}" method="post">

        <input type="text" name="text-todo" placeholder="title">

        <button type="submit">Add</button>

    </form>
    <h2>Incomplete Items</h2>  
    <ul>  
        {% for todo in incomplete %}  
        <li style="font-size: 30pt" class='mark'>{{ todo["text"] }} <a href="">Mark As Complete</a></li>  
        {% endfor %}      
    </ul>  
    
</body>
</html>